@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<ClinicaJordan.Web.Models.Paciente>

@{
    ViewData["Title"] = "Pacientes";
}

<h2>Lista de Pacientes</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Fecha de Nacimiento</th>
            <th>Peso</th>
            <th>Altura</th>
            <th>Sexo</th>
            <th>Estado</th>
            <th>Fecha Registro</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paciente in Model)
        {
            <tr>
                <td>@paciente.Dni</td>
                <td>@paciente.Nombres</td>
                <td>@paciente.Apellidos</td>
                <td>@paciente.Correo</td>
                <td>@paciente.Telefono</td>
                <td>@paciente.FechaNacimiento</td>
                <td>@paciente.Peso</td>
                <td>@paciente.Altura</td>
                <td>@paciente.Sexo</td>
                <td>@paciente.Estado</td>
                <td>@paciente.FechaRegistro</td>
                <td class="d-flex justify-content-around align-items-center">
                    <a asp-action="Actualizar" asp-route-dni="@paciente.Dni" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Desactivar" asp-route-dni="@paciente.Dni" class="btn btn-sm btn-danger">Desactivar</a>
                </td>
            </tr>
        }
    </tbody>
</table>